<link rel="shortcut icon" href="{{ .Site.Params.favicons.ico | default "/images/site/favicon.ico" | relURL }}" type="image/x-icon">

<link rel="icon" type="image/webp" sizes="16x16" href="{{ .Site.Params.favicons.png16 | default "/images/site/favicon-16x16.webp" | relURL }}">
<link rel="icon" type="image/webp" sizes="32x32" href="{{ .Site.Params.favicons.png32 | default "/images/site/favicon-32x32.webp" | relURL }}">
<link rel="icon" type="image/webp" sizes="96x96" href="{{ .Site.Params.favicons.png96 | default "/images/site/favicon-96x96.webp" | relURL }}">


<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.favicons.apple | default "/images/site/apple-touch-icon.webp" | relURL }}">

<link rel="icon" type="image/webp" sizes="192x192" href="{{ .Site.Params.favicons.android192 | default "/images/site/android-chrome-192x192.webp" | relURL }}">
<link rel="icon" type="image/webp" sizes="512x512" href="{{ .Site.Params.favicons.android512 | default "/images/site/android-chrome-512x512.webp" | relURL }}">
