<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

{{ partial "seo.html" . }}

{{ partial "favIcons.html" . }}

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ $style := resources.Get "/css/style.scss" | resources.ExecuteAsTemplate "/css/style.scss" . | css.Sass (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") | resources.Fingerprint "sha512" }}
    
<link type="text/css" rel="stylesheet" href={{ $style.Permalink }} integrity="{{ $style.Data.Integrity }}" />

<link rel="stylesheet" href="{{ "fonts/jetbrains-mono/jetbrains-mono.css" | relURL }}" />
<link rel="stylesheet" href="/fonts/albert-sans/albert-sans.css">

{{ partial "inject/head.html" . }}
